@import url('https://fonts.googleapis.com/css2?family=Teko:wght@300&display=swap');
* {
    margin: 0;
    background-color: black;
    padding: 0;
    box-sizing: border-box;
 

   }

   li,a,button {
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: edf0f1;
    text-decoration: none;
}
 
header
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 10%;
}

.navbar {
    overflow: hidden;
    background-color: black;
    position: fixed;
    top: 0; 
    width: 100%;
}
 
.logo
{
    cursor: pointer;
    width: 70px;
}
 
.nav__links {
    list-style: none;
    font-family: 'Teko', sans-serif;
}
 
.nav__links li {

    display: inline-block;
    padding: 0px 20px;
}
 
.nav__links li a {
    font-weight: 40px;
    font-family: 'Teko', sans-serif;
    transition: all 0.3s ease 0s;
    color: white;
 
}
 
.nav__links li a:hover {
    color: #cc000a;
}
 
button
{
    padding: 9px 25px;
    color: white;
    border: none;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    font-weight: 40px;
    font-family: 'Teko', sans-serif;
}


button :hover {
    color: #9398fd;
}


body{
    margin: 0;
}
.header{
    text-align: center;
    padding: 32px;
}
.header h1{
    margin-top: 60px;
    font-family: 'Teko', sans-serif;
    font-size: 26px;
    color: rgb(147, 12, 12);
}

.header span{
    margin-top: 60px;
    font-family: 'Teko', sans-serif;
    font-size: 14px;
    color: rgb(147, 12, 12);
    margin-left: 10px;
}


.row{
    display: flex;
    flex-wrap: wrap;
    padding: 0px 100px 100px 100px;
}
.column{
    flex: 25%;
    max-width: 25%;
}
.img-hover-zoom{
    height: auto;
    overflow: hidden;
    border: 5px solid black;
}
.img-hover-zoom img{
    vertical-align: middle;
    margin: 0;
    padding: 0;
    border: 0;
    transition:  transform .5s ease;
}
.img-hover-zoom:hover img{
    transform: scale(1.5);
}

@media screen and (max-width: 800px) {
    .column{
        flex: 50%;
        max-width: 50%;
    }
}

@media screen and (max-width: 500px) {
    .column{
        flex: 100%;
        max-width: 100%;
    }
}